@page "/"
@layout LoginLayout
@using DndReexam.Components.Layout


<!-- Header -->
<header>
        <div class=" buttons">
        <a href="=/login" class="login-btn">Login</a>
    </div>
</header>

<!-- Hero Section -->
<section class="hero">
    <h1>Work hours registration platform</h1>
    <p>Log in to access the registration platform.</p>
    <div class="buttons">
        <a href="/login" class="login-btn-2">Login</a>
    </div>
</section>