@page "/"
@layout LoginLayout

<!-- Header -->
<header>
    <a class="logo"><img src="..." alt="AA Company banner"></a>
    <div class=" buttons">
        <a href="=/login" class="login-btn">Login</a>
    </div>
</header>

<!-- Hero Section -->
<section class="hero">
    <h1>Work hours registration platform</h1>
    <p>Log in or register to access the registration platform.</p>
    <div class="buttons">
        <a href="/login" class="login-btn-2">Login</a>
    </div>
</section>