
@using Havit.Blazor.Components

<div class="d-flex border overflow-hidden sidebar-inner" data-bs-theme="dark">
	<HxSidebar>
		<HeaderTemplate>
			<HxSidebarBrand BrandName="Andreas & Alex" BrandNameShort="AA" />
		</HeaderTemplate>

		<ItemsTemplate>
			<HxSidebarItem Text="Dashboard" Icon="BootstrapIcon.Columns" TooltipText="Dashboard" Href="/home" />
			<HxSidebarItem Text="Employees" Icon="BootstrapIcon.People" Href="/employees">
				<HxSidebarItem Text="Overview" Href="/employees" />
				<HxSidebarItem Text="Absences" Href="/components/HxSidebar/absences" />
			</HxSidebarItem>
		</ItemsTemplate>

        <FooterTemplate>
            <HxSidebarFooter TextCssClass="@(context.SidebarCollapsed ? "d-md-none" : null)" 
                            Text="Logout" 
                            Href="/logout">
                @* <LogoutIcon /> *@
            </HxSidebarFooter>
        </FooterTemplate>
	</HxSidebar>
</div>